<%- include('../partials/header'); %>


<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Name
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Age
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Gender
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Address
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Emergency Contact
                </th>
                <th class="px-6 py-3 bg-gray-50"></th>
              </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">

              <form method="POST" action="/admin/new">

                    <!-- Name -->
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap">
                          <div class="flex items-center">
                            <div class="ml-4">
                              <div class="text-sm leading-5 font-medium text-gray-900 "></div>
                                <label for="student_name" class="block text-sm font-medium leading-5 text-gray-700"></label>
                                <input type="text" class="form-control" name="student_name" id="student_name">
                              </div>
                            </div>
                          </div>
                        </td>


                         <!-- Age -->
                        <td class="px-6 py-4 whitespace-no-wrap">
                          <div class="text-sm leading-5 text-gray-900">
                            <label for="student_age" class="block text-sm font-medium leading-5 text-gray-700"></label>
                                <input type="number" class="form-control" name="student_age" id="student_age">
                            </div>
                        </td>
                       

                        <!-- Gender -->
                        <td class="px-6 py-4 whitespace-no-wrap">
                          <span class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                <label for="student_gender" class="block text-sm font-medium leading-5 text-gray-700"></label>
                                <input type="text" class="form-control" name="student_gender" id="student_gender">
                          </span>
                        </td>
                        
                        <!-- Address -->
                        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                          <label for="student_address" class="block text-sm font-medium leading-5 text-gray-700"></label>
                          <input type="text" class="form-control" name="student_address" id="student_address">
                        </td>
                        

                         <!-- Emergency Contact -->
                        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                          <label for="student_emergency_contact" class="block text-sm font-medium leading-5 text-gray-700"></label>
                          <input type="number" class="form-control" name="student_emergency_contact" id="student_emergency_contact">
                         </td>
        
                        <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                          <button type="submit" class="text-indigo-600 hover:text-indigo-900">Submit</button>
                        </td>
                      </tr>
                    
                  </form>  
                    
                  

                 
  
              <!-- More rows... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  


<%- include('../partials/footer'); %>